<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.timothyb89.lifx.tasker"
          android:versionCode="3"
          android:versionName="1.1.0" >

	<uses-sdk android:minSdkVersion="19"
	          android:targetSdkVersion="19" />

	<application android:allowBackup="true"
	             android:icon="@drawable/ic_launcher"
	             android:label="@string/app_name"
	             android:theme="@style/AppTheme">
		
		<!-- main UI -->
		<activity android:name=".SimpleControlActivity_">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<!-- editors -->
		<activity android:name=".editor.BulbListEditor_"
		          android:label="@string/edit_bulbs_name"
		          android:icon="@drawable/ic_launcher">
		</activity>
		<activity android:name=".editor.ColorEditor_"
		          android:label="@string/edit_color_name"
		          android:icon="@drawable/ic_launcher">
		</activity>
		
		<!-- tasker edit -->
		<activity android:name=".EditActivity_"
		          android:label="@string/edit_name"
		          android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
			</intent-filter>
		</activity>
		
		<!-- tasker fire -->
		<receiver android:name=".FireReceiver">
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
			</intent-filter>
		</receiver>
		
		<service android:name=".LIFXService_"/>
		<service android:name=".ReceiverService_"/>
	</application>
	
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	
</manifest>